<div class="panel-header panel-header-sm">
</div>
<div *ngIf="showLoading" class="loader-img">
  <i class="fa fa-spinner fa-spin"></i>
</div>
<div class="main-content pledge_page">
  <div class="row" *ngIf="redeemLoading">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Pledge</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="frmpledge" (ngSubmit)="onSubmit()">
            <input type="text" style="display: none;" class="form-control" formControlName="customer_id">

            <div class="row">
              <div class="col-sm-12 col-md-12 text-center pledge_photo">
                <input style="display: none;" name="customerAvatar" type="file"
                  accept="image/x-png,image/gif,image/jpeg" (change)="onFileChanged($event)" #fileInput>

                <div class="clsUsrPhotoImg">
                  <img (click)="fileInput.click()" src="{{customerPath}}" width="150" height="150" />
                  <br />
                  <label style="font-weight: bold;margin-top:5px;">{{uploadedFile}}</label>
                </div>
                <!--<div>
                   <img src="../../assets/img/add-user.png" width="100" height="100"/>
                 </div>-->
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Bill No</label>
                  <div class="row">
                    <div class="col-sm-12 col-md-3">
                      <input type="text" class="form-control" formControlName="bill_no_1" [readonly]="custFieldEnabled"
                        [ngClass]="{ 'is-invalid': submitted && f.bill_no_1.errors }">
                      <div *ngIf="submitted && f.bill_no_1.errors" class="invalid-feedback">
                        <div *ngIf="f.bill_no_1.errors.required">Bill no is required</div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                      <input type="text" class="form-control" formControlName="bill_no_2" [readonly]="custFieldEnabled"
                        [ngClass]="{ 'is-invalid': submitted && f.bill_no_2.errors }">
                      <div *ngIf="submitted && f.bill_no_2.errors" class="invalid-feedback">
                        <div *ngIf="f.bill_no_2.errors.required">Bill no is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 pl-1 ">
                <div class="form-group float-right">
                  <label>Date</label>
                  <input type="date" class="form-control" formControlName="date_of_bill" [readonly]="custFieldEnabled"
                    [ngClass]="{ 'is-invalid': submitted && f.date_of_bill.errors }">
                  <div *ngIf="submitted && f.date_of_bill.errors" class="invalid-feedback">
                    <div *ngIf="f.date_of_bill.errors.required">Date of Bill is required</div>
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Renewal No</label>
                  <div class="row">
                    <div class="col-sm-12 col-md-2">
                      <input type="text" id="renew_no_1" class="form-control" value="">
                    </div>
                    <div class="col-sm-12 col-md-8">
                      <input type="text" id="renew_no_2" class="form-control" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>-->

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Customer Name</label>
                  <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Name"
                    formControlName="cust_name" [ngClass]="{ 'is-invalid': submitted && f.cust_name.errors }">
                  <div *ngIf="submitted && f.cust_name.errors" class="invalid-feedback">
                    <div *ngIf="f.cust_name.errors.required">Customer Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Father Name</label>
                  <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Father Name"
                    formControlName="father_name" [ngClass]="{ 'is-invalid': submitted && f.father_name.errors }">
                  <div *ngIf="submitted && f.father_name.errors" class="invalid-feedback">
                    <div *ngIf="f.father_name.errors.required">Father Name is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Phone No</label>
                  <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Phone"
                    formControlName="phone_no" [ngClass]="{ 'is-invalid': submitted && f.phone_no.errors }">
                  <div *ngIf="submitted && f.phone_no.errors" class="invalid-feedback">
                    <div *ngIf="f.phone_no.errors.required">Phone no is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Email</label>
                  <input name="email" id="email" type="text" [readonly]="custFieldEnabled" class="form-control"
                    placeholder="Email" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <div class="clsStreet">
                    <label>Address</label>
                    <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder=""
                      formControlName="address_1">
                    <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder=""
                      formControlName="address_2">
                    <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder=""
                      formControlName="address_3">
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12 pl-3">
                      <div class="form-group" style="margin-bottom: 30px;">
                        <label>Area</label>
                        <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Area"
                          formControlName="area" [ngClass]="{ 'is-invalid': submitted && f.area.errors }">
                        <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
                          <div *ngIf="f.area.errors.required">Area is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 pl-3">
                      <div class="form-group">
                        <label>Pin Code</label>
                        <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Pin Code"
                          formControlName="pin_code" [ngClass]="{ 'is-invalid': submitted && f.pin_code.errors }">
                        <div *ngIf="submitted && f.pin_code.errors" class="invalid-feedback">
                          <div *ngIf="f.pin_code.errors.required">Pin Code is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-12 pl-1">
                <a class="btn btn-fill btn-lg btn-primary" (click)="AddItem();">Add Item</a>
              </div>
            </div> -->

            <div class="row">
              <div class="table-responsive clsPledgedItm" style="padding:0 10px;">
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th style="width:15%;">Image</th>
                      <th style="width:20%;">Item</th>
                      <th class="text-center">No of Pcs</th>
                      <th class="text-center">Weight gms</th>
                      <th class="text-center">No of rgc %gms</th>
                      <th class="text-center">Net Weight</th>
                      <th></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pledgeItms of MainPledgeItems; let i = index">
                      <td>
                        <div class="item_img_holder">
                          <img width="150" height="150" src="{{pledgeItms.imgPath}}" />
                          <input type="file" class="clsImgProd" style="display:none;" name="item_img" />
                        </div>
                      </td>

                      <td><span *ngIf="pledgeItms.itemType">{{pledgeItms.itemName}}</span></td>
                      <td class="text-center">{{pledgeItms.no_of_pcs}}</td>
                      <td class="text-center">{{pledgeItms.wgt_gms}}</td>
                      <td class="text-center">{{pledgeItms.waste_gms}}</td>
                      <td class="text-center">{{pledgeItms.net_wgt}}</td>
                      <td><a href="javascript:void(0);" (click)="editPledgeItm(pledgeItms);">View</a></td>

                    </tr>

                  </tbody>
                  <tfoot style="background:#9222">
                    <tr>

                      <td>Total</td>
                      <td></td>
                      <td class="text-center">{{tot_pcs}}</td>
                      <td class="text-center">{{tot_wgt}}</td>
                      <td class="text-center">{{tot_wst}}</td>
                      <td class="text-center">{{tot_net_wgt}}</td>
                      <td></td>
                      <td *ngIf="MainPledgeItems.length > 1"></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="form-group clsPledgedAmt">
                  <label>Amount to be Paid</label>
                  <input type="text" class="form-control" readonly style="font-size:20px;font-weight:bold;" value="4850"
                    formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                  <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                    <div *ngIf="f.amount.errors.required">Amount is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row clsPledgeBt">
              <!--<div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group float-right">
                      <button class="btn btn-fill btn-lg btn-default" type="submit" >Modify</button>
                  </div>
                </div>-->
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group" style="text-align: center;">
                  <button class="btn btn-fill btn-lg btn-primary" type="button" (click)="partialamount()">Partial Amount
                    Paid</button>
                  <button class="btn btn-fill btn-lg btn-primary" type="button" (click)="fullamount()">Full Amount
                    Paid</button>
                </div>
              </div>
            </div>

            <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-info" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add Pledge Items</h4>
                    <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12 pr-2" style="text-align: center;">
                        <div class="form-group">
                          <input style="display: none;" name="pledgeItemAvatar" type="file"
                            accept="image/x-png,image/gif,image/jpeg" #pledgeImage>
                          <div class="clsPledgeImg">
                            <img (click)="pledgeImage.click()" src="{{PledgeImgPath}}" width="150" height="150" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>Item Name</strong></label>
                          <input type="text" class="form-control" value="" [readonly]="custFieldEnabled"
                            formControlName="selectedPledgeItem">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>No of Pcs</strong></label>
                          <input type="text" class="form-control" value="" formControlName="no_of_pcs"
                            [readonly]="custFieldEnabled">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>Weight Gms</strong></label>
                          <input type="text" class="form-control" value="" [readonly]="custFieldEnabled"
                            formControlName="wgt_gms">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>No of waste %Gms</strong></label>
                          <input type="text" class="form-control" value="" [readonly]="custFieldEnabled"
                            formControlName="waste_gms">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>Net Weight</strong></label>
                          <input type="text" class="form-control" value="" [readonly]="custFieldEnabled"
                            formControlName="net_wgt">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer" style="text-align:center;">
                    <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>

                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="referenceLoading">
    <div class="col-md-12 col-sm-12">
      <div class="card  card-tasks">
        <div class="card-body dashboard_bill" style="padding:70px 15px 70px 15px;">
          <h5 style="text-align: center;font-size: 30px;">Search Bill No</h5>
          <div class="search_control">
            <input type="text" class="form-control" [(ngModel)]="bill"
              placeholder="Search by Bill #, Customer Email or Mobile" value="" />
            <span class="search_icon" (click)="SearchPledge();"><i class="now-ui-icons ui-1_zoom-bold"></i></span>
          </div>
          <!-- <button class="btn btn-primary btn-lg" style="width:100%;" (click)="pledgePage();">New Bill</button><br/>                  -->
          <button class="btn btn-warning btn-lg" style="width:100%;" (click)="SearchPledge();">Redeem</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="pledgeListLoading">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Pledge List</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table clsTablePledgeList">
              <thead class=" text-primary">
                <th>Customer Name</th>
                <th>Bill #</th>
                <th>Pledge Amount</th>
                <th>Pledge Date</th>
              </thead>
              <tbody>
                <tr *ngFor="let pledges of PledgeList; let i = index" (click)="managePledge(pledges.pledge_bill_no);">
                  <td>{{pledges.customer_name}}</td>
                  <td>{{pledges.pledge_bill_no}}</td>
                  <td>{{pledges.total_amount_paid}}</td>
                  <td>{{pledges.pledge_date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div bsModal #paymentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment</h4>
        <button type="button" class="close" (click)="paymentModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="paymentView">
          
          <div class="col-md-12 pr-2">
              <!-- <label><strong>Transaction Type</strong></label> -->
              <label class="row"><strong>Transaction Type</strong></label>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [value]=2 [(ngModel)]="paymentType">
                  <label class="form-check-label" for="inlineRadio1">Interest</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [value]=3 [(ngModel)]="paymentType">
                  <label class="form-check-label" for="inlineRadio2">Partial</label>
                </div>
            
          </div>
          <div class="col-md-6 pr-2">
            <div class="form-group">
              <label><strong>Pledge amount</strong></label>
              <input type="text" class="form-control" value="" [readonly]="custFieldEnabled" [(ngModel)]="paidAmount"
                #name="ngModel">
            </div>
          </div>
          <div class="col-md-6 pr-2">
            <div class="form-group">
              <label><strong>Monthly Due</strong></label>
                <input type="text" class="form-control" value="" [readonly]="custFieldEnabled" [(ngModel)]="interestAmt"
                #name="ngModel">
            </div>
          </div>
          <div class="col-md-12 pr-2">
              <div class="form-group">
                <label><strong>paid amout</strong></label>
                <input type="text" class="form-control" value="" 
                  (keydown)="partialcalculation($event)" [(ngModel)]="partialAmount" #name="ngModel">
              </div>
            </div>
         
        </div>
        <div class="row" *ngIf="!paymentView">
          <div class="col-md-12 pr-2">
            <div class="form-group">
              <label><strong>full amount</strong></label>
              <input type="text" class="form-control" value="" [readonly]="custFieldEnabled" [(ngModel)]="paidAmount"
                #name="ngModel">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-primary" (click)="payment()">Paid</button>
        <button type="button" class="btn btn-secondary" (click)="paymentModal.hide()">Close</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->