.sitesettings{
    max-width: 100%;
    /*background: #232323 !important;*/
    background-image: url('../../../assets/img/header.jpg');
    height: 100%;
    .card{
        display: table;
        margin: 3% auto;
        max-width: 70%;
        width: 70%;
        background: #fff !important;
        box-shadow: 0px -1px 12px #000;
    }
    .clsLineBr{
        float: left;
        width:100%;
        height:8px;
    }

    form{
        .row{
            margin-bottom: 2%;
        }
    }
    

    .card-header{
        background-color: #ffb236 !important;
        padding: 15px 15px 1px;
        h5{
            color:#fff;
        }
    }

    .settings_container{
        padding:10px;
    }

    .settings_title{
        border-bottom: 1px solid #ddd;
        display:inline-block;
        width:100%;
    }

    .settings_tab{
        float: left;
        width:auto;
        padding:10px;
        margin-right:15px;
        border-top:1px solid #ccc;
        border-right:1px solid #ccc;
        border-left:1px solid #ccc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        background:#ccc;
        cursor:pointer;
    }

    .settings_tab.active{
        background:#FFBE55;
        color:#000;
        -webkit-box-shadow: inset 2px 4px 25px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 2px 4px 25px 0px rgba(0,0,0,0.75);
        box-shadow: inset 2px 4px 25px 0px rgba(0,0,0,0.75);
        
    }

    .settings_tab:hover{
        -webkit-box-shadow: inset 2px 4px 25px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 2px 4px 25px 0px rgba(0,0,0,0.75);
        box-shadow: inset 2px 4px 25px 0px rgba(0,0,0,0.75);
    }

    .settings_icon{
        width:100%;
        display:inline-block;
        text-align: center;
        i{
            
            font-size:32px;
        }
        i.ui-1_settings-gear-63{
            margin-left:-6px;
            color:#000;
            font-size:16px;
        }
    }

    .gen_settings_content,.usr_settings_content,.bus_settings_content{
        float: left;
        width: 100%;
        border: 1px solid #ccc;
        padding: 2%;
        margin-bottom: 20px;

        .settings_label{
            line-height: 40px;
        }        
    }

    .gen_settings_content.active,.usr_settings_content.active,.bus_settings_content.active{
        background:rgba(240,230,140,0.3);
    }


    .thumbnail.img-circle {
        border-radius: 50%;
        max-width: 100px;    
    }

    .thumbnail {
        display: inline-block;
        margin-bottom: 10px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        max-width: 250px;
        box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);    
    }

    .label_bar{
        display:inline-block;
        width:100%;
        padding:5px 10px;
        background:#FF5555;
        margin-bottom: 5px;
        font-weight: bold;
        font-size:16px;
        color:#fff;
    }

    .metal_container{
        .gold_metal_head{
            padding:5px;
            background:#FF8C00;
            color:#EEE8AA;
            font-weight: bold;
            font-weight: 15px;
            border-top: 1px solid #D4AF37;
            border-left: 1px solid #D4AF37;
            border-right: 1px solid #D4AF37;
        }
        .silver_metal_head{
            padding:5px;
            background:#C0C0C0;
            color:#000;
            font-weight: bold;
            font-weight: 15px;
            border-top: 1px solid #808080;
            border-left: 1px solid #808080;
            border-right: 1px solid #808080;
        }
    }

    .cls_silver_metal_catg{
        padding:0px;
        list-style: none;
        border:1px solid #808080;
        display: inline-block;
        width:100%;
        li{
            float: left;
            padding:5px;
            width:100%;
            font-size:13px;
            border-bottom: 1px solid #808080;
            height:30px;
            div{
                width:10%;
                float: left;
                i.fa{
                    cursor: pointer;
                }
            }
            div:nth-child(odd){
                clear: left;
                width:90%;
            }
        }
    }

    .cls_gold_metal_catg{
        padding:0px;
        list-style: none;
        border:1px solid #D4AF37;
        display: inline-block;
        width:100%;
        li{
            float: left;
            padding:5px;
            width:100%;
            font-size:13px;
            border-bottom: 1px solid #D4AF37;
            height:30px;
            
            div{
                width:10%;
                float: left;
                i.fa{
                    cursor: pointer;
                }
            }
            div:nth-child(odd){
                clear: left;
                width:90%;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .sitesettings{
        .card{
            display: table;
            margin: 3% auto;
            max-width: 95%;
            width: 95%;
            background: #fff !important;
            box-shadow: 0px -1px 12px #000;
        }
    }
}

@media only screen and (max-width: 600px) {
    .sitesettings{
        .settings_tab{
            width:100%;
            margin:0px;
        }
    }
}