

<div class="panel-header panel-header-sm">
</div>
<div *ngIf="showLoading" class="loader-img">
  <img src="../../assets/img/loader.gif" />
</div>
<div class="main-content pledge_page">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header-right">
              <button class="btn btn-primary pull-right" (click)="newExpensePopup();">Add New </button>
              
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-columned" *ngIf="expenseList.length">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Date </th>
                          <th>Amount</th>
                          <th>Expense Category</th>
                          <th>Note</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let expense of expenseList; let i = index">
                          <td></td>
                          <td>{{expense.expense_date | date}}</td>
                          <td>{{expense.expense_amount}}</td>
                          <td>{{expense.expense_category}}</td>
                          <td>{{expense.expense_note}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
          
        
           
      </div>
    </div>
  </div>
</div>
