
<footer class="footer">
  <div class="container-fluid">
    
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="http://www.dzyte.com/" target="_blank">Dzyte</a>. Coded by
      <a href="http://www.dzyte.com/" target="_blank">Dzyte</a>.
    </div>
  </div>
</footer>
