<div class="modal-header">
  <h4 class="modal-title pull-left"> New ExpCat</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-sm-12">
      <!-- <app-card cardTitle="" [hidHeader]="true" [options]="false">

      </app-card> -->
      <form action="javascript:" [formGroup]="expCatForm" (ngSubmit)="onExpCatSubmit()">
        <div class="form-row">

          <div class="form-group col-md-12">
            <label for="inp_expCat_name">Exp Cat Name</label>
            <input type="text" class="form-control" formControlName="expcat_name" id="inp_expCat_name"
              placeholder="ExpCat Name">
          </div>
        </div>



        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>



</div>