<div class="modal-header">
    <h4 class="modal-title pull-left"> New Expense </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- <app-card cardTitle="" [hidHeader]="true" [options]="false">
                
        </app-card> -->
            <form action="javascript:" [formGroup]="expenseForm" (ngSubmit)="onExpenseSubmit()">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="inputPassword4">Date </label>
                        <input type="text" placeholder="Date" formControlName="exp_date" id="inp_brand_name"
                            class="form-control" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="inputPassword4">Expense Category</label>
                        <app-exp-cat-dd-add [parentForm]="expenseForm" [inpFormControl]="'exp_category'"
                            [showAddnew]="true">
                        </app-exp-cat-dd-add>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="inputEmail4">Amount </label>
                        <input type="number" class="form-control" formControlName="exp_amount" id="inp_brand_code"
                            placeholder="Expense Amount">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="inputEmail4">Note </label>
                        <input type="text" class="form-control" formControlName="exp_title" id="inp_brand_code"
                            placeholder="Expense Note">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>