
<div *ngIf="showLoading" class="loader-img">
  <img src="../../../assets/img/loader_spinner.gif" style="padding-top: 10%;"/>
</div>
<div class="main-content sitesettings">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-primary float-right" style="margin: 0px;" (click)="dashBoard()"><i class="fa fa-home" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-primary float-right" style="margin: 0px;margin-right: 5px;" (click)="logout()">Logout</button>
          <h5 class="title">Settings</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="frmGensettings" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <button class="float-right btn btn-default btn-lg">Save Settings</button>
              </div>
            </div>
            <div class="settings_container">
              <div class="settings_title">
                <div class="settings_tab {{genActive}}" target="gen_settings" (click)="ClickSettingsTab('gen');">
                  <span class="settings_icon">
                    <i class="now-ui-icons objects_globe"></i>
                    <i class="now-ui-icons ui-1_settings-gear-63"></i>
                  </span>
                  <span>General</span>
                </div>
                <div class="settings_tab {{busActive}}" target="bus_settings" (click)="ClickSettingsTab('bus');">
                  <span class="settings_icon">
                    <i class="now-ui-icons objects_globe"></i>
                    <i class="now-ui-icons ui-1_settings-gear-63"></i>
                  </span>
                  <span>Business</span>
                </div>
                <div class="settings_tab" target="usr_settings" style="display:none;">
                  <span class="settings_icon">
                    <i class="now-ui-icons users_single-02"></i>
                    <i class="now-ui-icons ui-1_settings-gear-63"></i>
                  </span>
                  <span>User</span>
                </div>
              </div>
              <div *ngIf="showGenSettings" class="settings_content gen_settings_content {{genActive}}"
                id="gen_settings">
                <div class="row">
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-5 col-md-4 col-sm-5 mb-3">
                          <label class="settings_label">Language Settings</label>
                        </div>
                        <div class="col-lg-5 col-md-8 col-sm-5 mb-3">
                          <angular2-multiselect formControlName="selectedLanguage" [data]="LanguageList"
                            (onSelect)="onLangItemSelect($event)" (onDeSelect)="OnLangItemDeSelect($event)"
                            (onSelectAll)="onLangSelectAll($event)" (onDeSelectAll)="onLangDeSelectAll($event)"
                            [settings]="dropdownSettings"></angular2-multiselect>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-5 col-md-4 col-sm-5 mb-3">
                          <label class="settings_label">Area Code</label>
                        </div>
                        <div class="col-lg-5 col-md-8 col-sm-5 mb-3">
                          <angular2-multiselect formControlName="selectedArea" [data]="areaList"
                            (onSelect)="onAreaItemSelect($event)" (onDeSelect)="OnAreaItemDeSelect($event)"
                            (onSelectAll)="onAreaSelectAll($event)" (onDeSelectAll)="onAreaDeSelectAll($event)"
                            [settings]="areaSettings"></angular2-multiselect>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                        <div class="col-lg-5 col-md-4 col-sm-5 mb-3">
                            <label class="settings_label">Interest</label>
                         </div>
                         <div class="col-lg-3 col-md-4 col-sm-3 mb-3">
                            <input type="text" class="bgwhite form-control" formControlName="interest_rate" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 mb-3">
                            <label class="settings_label">%</label>
                        </div>
                    </div> -->
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 mb-1">
                    <label class="label_bar settings_label">Items</label>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 mb-1 sub_settings_div"
                    style="padding-left:3%;padding-right:3%;padding-top:3%;padding-bottom:3%;">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <label class="sub_settings_label">Category</label>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" name="metal_catg" formControlName="metal_catg" class="form-check-input"
                              value="gold">Gold
                          </label>
                        </div>
                        <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" name="metal_catg" formControlName="metal_catg" class="form-check-input"
                              value="silver">Silver
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                        <label class="sub_settings_label">Item Name</label>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-6">
                            <input type="text" class="bgwhite form-control" formControlName="item_name" value="" />
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6">
                            <a class="btn btn-primary btn-round" (click)="addItem();" style="color:#FFF;margin:0px;">Add
                              Item</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 metal_container">
                        <div class="gold_metal_head">Gold</div>
                        <ul class="cls_gold_metal_catg">
                          <li *ngFor="let gitms of goldItems ; let i = index">
                            <div class="clsItem_name">
                              {{gitms.value}}
                            </div>
                            <div class="clsItemTrash" style="display: none;">
                              <i class="fa fa-trash-o" (click)="remove(gitms.type,gitms.value);"
                                style="font-size:20px;color:red"></i>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 metal_container">
                        <div class="silver_metal_head">Silver</div>
                        <ul class="cls_silver_metal_catg">
                          <li *ngFor="let sitms of silverItems ; let i = index">
                            <div class="clsItem_name">
                              {{sitms.value}}
                            </div>
                            <div class="clsItemTrash" style="display: none;">
                              <i class="fa fa-trash-o" (click)="remove(sitms.type,sitms.value);"
                                style="font-size:20px;color:red"></i>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="settings_content usr_settings_content" id="usr_settings" style="display:none;">
                <div class="row">
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-5 col-md-4 col-sm-5 mb-3">
                          <label class="settings_label">User Image</label>
                        </div>
                        <div class="col-lg-5 col-md-8 col-sm-5 mb-3">
                          <div class="thumbnail img-raised img-circle">
                            <img alt="..." src="assets/img/placeholder.jpg">
                          </div>
                          <div>
                            <button class="btn btn-raised btn-round btn-default btn-file ng-star-inserted"> Select image
                            </button>
                          </div>

                        </div>
                        <input id="user_avatar" type="file" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div *ngIf="showBusSettings" class="settings_content bus_settings_content {{busActive}}"
                id="bus_settings">
                <div class="row">
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 mb-3">
                          <label class="settings_label">Bill Number</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 mb-3">
                          <input type="text" class="form-control bgwhite" value="" formControlName="bill_ref_1">
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                          <input type="text" class="form-control bgwhite" value="" formControlName="bill_ref_2">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-12 ">
                          <div class="card" style="max-width: 100%;width:100%;">
                            <div class="card-header">
                              Gold
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-12 mb-3">
                                  <label class="settings_label"> Rate / gram in (Rs)</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12 mb-3">
                                  <input type="text" class="form-control bgwhite" value="" formControlName="gold_rate">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-12 mb-3">
                                  <label class="settings_label"> Rate of Interest</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <button type="button" class="btn btn-primary float-right"
                                    (click)="addgoldservice()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12 mb-3"></div>
                                <div class="col-lg-4 col-md-3 col-sm-12 mb-3"></div>

                                <div class="col-lg-8 col-md-9 col-sm-12 mb-3">
                                  <div formArrayName="gold_rate_interest"
                                    *ngFor="let item of frmGensettings.get('gold_rate_interest').controls; let i = index;">
                                    <div [formGroupName]="i">
                                      <div class="row">
                                        <div class="col-1" style="padding-right: 0px;">
                                          <button type="button" class="btn btn-danger float-right" [disabled]="i === 0"
                                            style="margin: 0px;padding:9px 18px;" (click)="removegold(i)"><i
                                              class="fa fa-minus" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col-4" style="padding-right: 0px;padding-left: 5px;"><input
                                            formControlName="chargeFromGold" placeholder="From"
                                            class="form-control bgwhite"></div>
                                        <div class="col-4" style="padding-right: 0px;padding-left: 5px;"><input
                                            formControlName="chargeToGold" placeholder="To"
                                            class="form-control bgwhite"></div>
                                        <div class="col-3" style="padding-right: 5px;padding-left: 3px;"><input
                                            formControlName="chargePercentGold" placeholder="%"
                                            class="form-control bgwhite"></div>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-12 ">
                          <div class="card" style="max-width: 100%;width:100%;">
                            <div class="card-header">
                              Silver
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-12 mb-3">
                                  <label class="settings_label"> Rate / gram in (Rs)</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12 mb-3">
                                  <input type="text" class="form-control bgwhite" value=""
                                    formControlName="silver_rate">
                                </div>
                              </div>
                              
                              <div class="row">
                                  <div class="col-lg-4 col-md-3 col-sm-12 mb-3">
                                      <label class="settings_label"> Rate of Interest</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                      <button type="button" class="btn btn-primary float-right"
                                        (click)="addsilverservice()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-12 mb-3"></div>
                                    <div class="col-lg-4 col-md-3 col-sm-12 mb-3"></div>
    
                                    <div class="col-lg-8 col-md-9 col-sm-12 mb-3">
                                        <div formArrayName="silver_rate_interest"
                                        *ngFor="let item of frmGensettings.get('silver_rate_interest').controls; let i = index;">
                                        <div [formGroupName]="i">
                                          <div class="row">
                                            <div class="col-1" style="padding-right: 0px;">
                                              <button type="button" class="btn btn-danger float-right" [disabled]="i === 0"
                                                style="margin: 0px;padding:9px 18px;" (click)="removesilver(i)"><i
                                                  class="fa fa-minus" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="col-4" style="padding-right: 0px;padding-left: 5px;"><input
                                                formControlName="chargeFromSilver" placeholder="From"
                                                class="form-control bgwhite"></div>
                                            <div class="col-4" style="padding-right: 0px;padding-left: 5px;"><input
                                                formControlName="chargeToSilver" placeholder="To"
                                                class="form-control bgwhite"></div>
                                            <div class="col-3" style="padding-right: 5px;padding-left: 3px;"><input
                                                formControlName="chargePercentSilver" placeholder="%"
                                                class="form-control bgwhite"></div>
                                          </div>
                                        </div>
    
                                      </div>
                                    </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>