<div class="panel-header panel-header-sm">
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
<div class="main-content pledge_page">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10 col-sm-12">
              <h5 class="title">Pledge</h5>
            </div>
            <div class="col-md-2 col-sm-12">
              <span>Cash In Hand : </span> <span>{{close_balance}}</span>
            </div>
          </div>


        </div>
        <div class="card-body">
          <form [formGroup]="frmpledge" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
            <input type="text" style="display: none;" class="form-control" formControlName="customer_id">

            <div class="row">
              <div class="col-sm-12 col-md-12 text-center pledge_photo">
                <input style="display: none;" name="customerAvatar" type="file"
                  accept="image/x-png,image/gif,image/jpeg" (change)="onFileChanged($event)" #fileInput>

                <div class="clsUsrPhotoImg">
                  <img (click)="fileInput.click()" src="{{customerPath}}" width="150" height="150" />
                  <br />
                  <label style="font-weight: bold;margin-top:5px;">{{uploadedFile}}</label>
                </div>
                <!--<div>
                   <img src="../../assets/img/add-user.png" width="100" height="100"/>
                 </div>-->
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 pl-1 ">
                <div class="row">
                  <div class="form-group col-sm-12 col-md-6">
                    <div class="row">
                      <div class="col-md-5 pr-1" style="text-align: right;">
                        <label style="font-weight: bold;font-size:17px;">Find Customer</label>
                      </div>
                      <div class="col-md-6 pr-1">
                        <div class="clsPledgeUserSearch">
                          <input type="text" class="form-control" formControlName="find_user_input">
                          <a class="searchBt" id="searchBt" (click)="SearchUser();"><i class="fa fa-search"
                              aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-12 col-md-6">

                    <div class="col-md-12 pr-1">
                      <div class="clsPledgeUserSearch">
                        <input type="button" style="margin-top:-7px;" value="New Customer"
                          class="btn btn-fill btn-lg btn-primary" (click)="newCustomer();" />
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Bill No</label>
                  <div class="row">
                    <div class="col-sm-12 col-md-3">
                      <input type="text" class="form-control" formControlName="bill_no_1"
                        [ngClass]="{ 'is-invalid': submitted && f.bill_no_1.errors }">
                      <div *ngIf="submitted && f.bill_no_1.errors" class="invalid-feedback">
                        <div *ngIf="f.bill_no_1.errors.required">Bill no is required</div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                      <input type="text" class="form-control" formControlName="bill_no_2"
                        [ngClass]="{ 'is-invalid': submitted && f.bill_no_2.errors }">
                      <div *ngIf="submitted && f.bill_no_2.errors" class="invalid-feedback">
                        <div *ngIf="f.bill_no_2.errors.required">Bill no is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 pl-1 ">
                <div class="form-group float-right">
                  <label>Date</label>
                  <input type="date" class="form-control" formControlName="date_of_bill"
                    [ngClass]="{ 'is-invalid': submitted && f.date_of_bill.errors }">
                  <div *ngIf="submitted && f.date_of_bill.errors" class="invalid-feedback">
                    <div *ngIf="f.date_of_bill.errors.required">Date of Bill is required</div>
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Renewal No</label>
                  <div class="row">
                    <div class="col-sm-12 col-md-2">
                      <input type="text" id="renew_no_1" class="form-control" value="">
                    </div>
                    <div class="col-sm-12 col-md-8">
                      <input type="text" id="renew_no_2" class="form-control" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>-->

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Customer Name</label>
                  <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Name"
                    formControlName="cust_name" [ngClass]="{ 'is-invalid': submitted && f.cust_name.errors }">
                  <div *ngIf="submitted && f.cust_name.errors" class="invalid-feedback">
                    <div *ngIf="f.cust_name.errors.required">Customer Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Father Name</label>
                  <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Father Name"
                    formControlName="father_name" [ngClass]="{ 'is-invalid': submitted && f.father_name.errors }">
                  <div *ngIf="submitted && f.father_name.errors" class="invalid-feedback">
                    <div *ngIf="f.father_name.errors.required">Father Name is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Phone No</label>
                  <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Phone"
                    formControlName="phone_no" [ngClass]="{ 'is-invalid': submitted && f.phone_no.errors }">
                  <div *ngIf="submitted && f.phone_no.errors" class="invalid-feedback">
                    <div *ngIf="f.phone_no.errors.required">Phone no is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Email</label>
                  <input name="email" id="email" type="text" [readonly]="custFieldEnabled" class="form-control"
                    placeholder="Email" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <div class="clsStreet">
                    <label>Address</label>
                    <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder=""
                      formControlName="address_1">
                    <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder=""
                      formControlName="address_2">
                    <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder=""
                      formControlName="address_3">
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12 pl-3">
                      <div class="form-group" style="margin-bottom: 30px;">
                        <label>Area</label>
                        <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Area"
                          formControlName="area" [ngClass]="{ 'is-invalid': submitted && f.area.errors }">
                        <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
                          <div *ngIf="f.area.errors.required">Area is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 pl-3">
                      <div class="form-group">
                        <label>Pin Code</label>
                        <input type="text" class="form-control" [readonly]="custFieldEnabled" placeholder="Pin Code"
                          formControlName="pin_code" [ngClass]="{ 'is-invalid': submitted && f.pin_code.errors }">
                        <div *ngIf="submitted && f.pin_code.errors" class="invalid-feedback">
                          <div *ngIf="f.pin_code.errors.required">Pin Code is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 pl-1">
                <a class="btn btn-fill btn-lg btn-primary" (click)="AddItem();">Add Item</a>
              </div>
            </div>

            <div class="row">
              <div class="table-responsive clsPledgedItm" style="padding:0 10px;">
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th style="width:15%;">Image</th>
                      <th style="width:20%;">Item</th>
                      <th class="text-center">No of Pcs</th>
                      <th class="text-center">Weight gms</th>
                      <th class="text-center">No of rgc %gms</th>
                      <th class="text-center">Net Weight</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pledgeItms of MainPledgeItems; let i = index">
                      <td>
                        <div class="item_img_holder">
                          <img width="150" height="150" src="{{pledgeItms.imgPath}}" />
                          <input type="file" class="clsImgProd" style="display:none;" name="item_img" />
                        </div>
                      </td>
                      <td>{{pledgeItms.itemName}}</td>
                      <td class="text-center">{{pledgeItms.no_of_pcs}}</td>
                      <td class="text-center">{{pledgeItms.wgt_gms}}</td>
                      <td class="text-center">{{pledgeItms.waste_gms}}</td>
                      <td class="text-center">{{pledgeItms.net_wgt}}</td>
                      <td><a href="javascript:void(0);" (click)="removePledgeItm(i);">Del</a></td>
                    </tr>

                  </tbody>
                  <tfoot style="background:#9222">
                    <tr>
                      <td>Total</td>
                      <td></td>
                      <td class="text-center">{{tot_pcs}}</td>
                      <td class="text-center">{{tot_wgt}}</td>
                      <td class="text-center">{{tot_wst}}</td>
                      <td class="text-center">{{tot_net_wgt}}</td>
                      <td></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <h5 class="card-header">Gold</h5>
                  <div class="card-body">
                    <div class="col-md-12 ">
                      <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" formControlName="gold_price" value="13400"
                          [ngClass]="{ 'is-invalid': submitted && f.gold_price.errors }">
                        <div *ngIf="submitted && f.gold_price.errors" class="invalid-feedback">
                          <div *ngIf="f.gold_price.errors.required">price is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" *ngIf="checkList == 2">
                      <div class="form-group">
                        <label>Rate of Interest</label>
                        <select id="country" formControlName="gold_charge_percent" class="form-control"
                          (change)="changegold($event.target.value)">
                          <option [value]=0> 0 %</option>
                          <option *ngFor="let c of gold_rate_interest" [value]="c.chargePercentGold">
                            {{c.chargePercentGold}} %</option>
                        </select>

                        <div *ngIf="submitted && f.gold_rate_interest.errors" class="invalid-feedback">
                          <div *ngIf="f.gold_rate_interest.errors.required">Rate of interest is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12" *ngIf="checkList == 1">
                      <div class="form-group">
                        <label>Rate of Interest</label>
                        <input type="text" class="form-control" placeholder="" readonly value="125"
                          formControlName="regular_gold_percent"
                          [ngClass]="{ 'is-invalid': submitted && f.regular_gold_percent.errors }">

                      </div>
                    </div>

                    <div class="col-md-12" *ngIf="checkList == 2">
                      <div class="form-group">
                        <label>Interest</label>
                        <input type="text" class="form-control" placeholder="" readonly value="125"
                          formControlName="gold_interest"
                          [ngClass]="{ 'is-invalid': submitted && f.gold_interest.errors }">
                        <div *ngIf="submitted && f.gold_interest.errors" class="invalid-feedback">
                          <div *ngIf="f.gold_interest.errors.required">Interest is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12" *ngIf="checkList == 1">
                      <div class="form-group">
                        <label>Interest</label>
                        <input type="text" class="form-control" placeholder="" readonly value="125"
                          formControlName="regular_gold_interest"
                          [ngClass]="{ 'is-invalid': submitted && f.regular_gold_interest.errors }">

                      </div>
                    </div>

                    <!-- <div class="col-md-12">
                      <div class="form-group">
                        <label>Amount to be Paid</label>
                        <input type="text" class="form-control" readonly style="font-size:20px;font-weight:bold;" value="4850"
                          formControlName="gold_amount" [ngClass]="{ 'is-invalid': submitted && f.gold_amount.errors }">
                        <div *ngIf="submitted && f.gold_amount.errors" class="invalid-feedback">
                          <div *ngIf="f.gold_amount.errors.required">Amount is required</div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <h5 class="card-header">Silver</h5>
                  <div class="card-body">
                    <div class="col-md-12 ">
                      <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" formControlName="silver_price" value="13400"
                          [ngClass]="{ 'is-invalid': submitted && f.silver_price.errors }">
                        <div *ngIf="submitted && f.silver_price.errors" class="invalid-feedback">
                          <div *ngIf="f.silver_price.errors.required">price is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" *ngIf="checkList == 2">
                      <div class="form-group">
                        <label>Rate of Interest</label>
                        <select id="country" formControlName="silver_charge_percent" class="form-control"
                          (change)="changesilver($event.target.value)">
                          <option [value]=0> 0 %</option>
                          <option *ngFor="let c of silver_rate_interest" [value]="c.chargePercentSilver">
                            {{c.chargePercentSilver}} %</option>
                        </select>

                        <div *ngIf="submitted && f.silver_rate_interest.errors" class="invalid-feedback">
                          <div *ngIf="f.silver_rate_interest.errors.required">Rate of interest is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12" *ngIf="checkList == 1">
                      <div class="form-group">
                        <label>Rate of Interest</label>
                        <input type="text" class="form-control" placeholder="" readonly value="125"
                          formControlName="regular_silver_percent"
                          [ngClass]="{ 'is-invalid': submitted && f.regular_silver_percent.errors }">

                      </div>
                    </div>

                    <div class="col-md-12" *ngIf="checkList == 2">
                      <div class="form-group">
                        <label>Interest</label>
                        <input type="text" class="form-control" placeholder="" readonly value="125"
                          formControlName="silver_interest"
                          [ngClass]="{ 'is-invalid': submitted && f.silver_interest.errors }">
                        <div *ngIf="submitted && f.silver_interest.errors" class="invalid-feedback">
                          <div *ngIf="f.silver_interest.errors.required">Interest is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12" *ngIf="checkList == 1">
                      <div class="form-group">
                        <label>Interest</label>
                        <input type="text" class="form-control" placeholder="" readonly value="125"
                          formControlName="regular_silver_interest"
                          [ngClass]="{ 'is-invalid': submitted && f.regular_silver_interest.errors }">

                      </div>
                    </div>

                    <!-- <div class="col-md-12">
                        <div class="form-group">
                          <label>Amount to be Paid</label>
                          <input type="text" class="form-control" readonly style="font-size:20px;font-weight:bold;" value="4850"
                            formControlName="silver_amount" [ngClass]="{ 'is-invalid': submitted && f.silver_amount.errors }">
                          <div *ngIf="submitted && f.silver_amount.errors" class="invalid-feedback">
                            <div *ngIf="f.silver_amount.errors.required">Amount is required</div>
                          </div>
                        </div>
                      </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="form-group clsPledgedAmt">
                  <label>Service Charge</label>
                  <input type="number" class="form-control" onPaste="return false"
                    style="font-size:20px;font-weight:bold;" value="4850" formControlName="service_charge"
                    [ngClass]="{ 'is-invalid': submitted && f.service_charge.errors }">
                  <div *ngIf="submitted && f.service_charge.errors" class="invalid-feedback">
                    <div *ngIf="f.service_charge.errors.required">service_charge is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="form-group clsPledgedAmt" *ngIf="checkList == 2">
                  <label>Amount to be Paid</label>
                  <input type="text" class="form-control" readonly style="font-size:20px;font-weight:bold;" value="4850"
                    formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                  <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                    <div *ngIf="f.amount.errors.required">Amount is required</div>
                  </div>
                </div>

                <div class="form-group clsPledgedAmt" *ngIf="checkList == 1">
                  <label>Amount to be Paid</label>
                  <input type="text" class="form-control" readonly style="font-size:20px;font-weight:bold;" value="4850"
                    formControlName="regular_amount" [ngClass]="{ 'is-invalid': submitted && f.regular_amount.errors }">
                  <div *ngIf="submitted && f.regular_amount.errors" class="invalid-feedback">
                    <div *ngIf="f.regular_amount.errors.required">Amount is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row clsPledgeBt">
              <!--<div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group float-right">
                      <button class="btn btn-fill btn-lg btn-default" type="submit" >Modify</button>
                  </div>
                </div>-->
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group" style="text-align: center;">
                  <button class="btn btn-fill btn-lg btn-primary" type="submit">Save</button>
                </div>
              </div>
            </div>

            <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-info" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add Pledge Items</h4>
                    <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12 pr-2" style="text-align: center;">
                        <div class="form-group">
                          <input style="display: none;" name="pledgeItemAvatar" type="file"
                            accept="image/x-png,image/gif,image/jpeg" (change)="onPledgeChanged($event)" #pledgeImage>
                          <div class="clsPledgeImg">
                            <img (click)="pledgeImage.click()" src="{{PledgeImgPath}}" width="150" height="150" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>Item Name</strong></label>
                          <!--<input type="text" class="form-control" value="" formControlName="item_name" >-->
                          <angular2-multiselect formControlName="selectedPledgeItem" [data]="ItemList"
                            (onSelect)="onPledgeItemSelect($event)" (onDeSelect)="OnPledgeItemDeSelect($event)"
                            [settings]="dropdownSettings"></angular2-multiselect>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>No of Pcs</strong></label>
                          <input type="text" class="form-control" value="" formControlName="no_of_pcs">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>Weight Gms</strong></label>
                          <input type="text" class="form-control" value="" formControlName="wgt_gms">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>No of waste %Gms</strong></label>
                          <input type="text" class="form-control" value="" formControlName="waste_gms">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 pr-2">
                        <div class="form-group">
                          <label><strong>Net Weight</strong></label>
                          <input type="text" class="form-control" value="" formControlName="net_wgt">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer" style="text-align:center;">
                    <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Cancel</button>
                    <button type="button" class="btn btn-info" (click)="AddPledgeItem();">Add Item</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </form>
        </div>
      </div>
    </div>
  </div>

</div>