<div class="row">

  <!-- Vertical borders table start -->
  <div class="col-xl-12 col-md-12">
    <!-- <app-card cardTitle="ExpCats" [options]="false" blockClass="table-border-style">
     
    </app-card> -->
    <div class="card-header-right">
      <button class="btn btn-primary pull-right" (click)="newExpCatPopup();">Add New </button>
    </div>

    <div class="table-responsive">
      <table class="table table-columned" *ngIf="expCatList.length">
        <thead>
          <tr>
            <th>#</th>

            <th> ExpCat Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expCat of expCatList; let i = index">
            <td></td>

            <td>{{expCat.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-exp-cat-dd-add></app-exp-cat-dd-add>
  </div>
  <!-- Vertical borders table start -->



</div>