<div class="panel-header panel-header-sm">
</div>
<div *ngIf="showLoading" class="loader-img">
  <img src="../../assets/img/loader.gif"/>
</div>
<div class="main-content pledge_page">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Pledge List</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
              <table class="table clsTablePledgeList">
                  <thead class=" text-primary">
                      <th>Customer Name</th>
                      <th>Bill #</th>
                      <th>Pledge Amount</th>
                      <th>Pledge Date</th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let pledges of PledgeList; let i = index" (click)="managePledge(pledges.pledge_bill_no);">
                        <td>{{pledges.customer_name}}</td>
                        <td>{{pledges.pledge_bill_no}}</td>
                        <td>{{pledges.total_amount_paid}}</td>
                        <td>{{pledges.pledge_date}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
