<!--<div class="panel-header panel-header-sm">
</div>-->
<div class="row">
  <div class="col-12">
<div class=" login_page">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="login_container">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>User ID</label>
                      <input type="text" class="form-control" placeholder="User Name" formControlName="user_id" [ngClass]="{ 'is-invalid': submitted && f.user_id.errors }" />
                      <div *ngIf="submitted && f.user_id.errors" class="invalid-feedback">
                        <div *ngIf="f.user_id.errors.required">User ID is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="pwd" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }" />
                        <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
                          <div *ngIf="f.pwd.errors.required">Password is required</div>
                        </div>
                      </div>
                   </div>
                   <div class="col-md-12" style="text-align: center;">
                      <button class="btn btn-fill btn-primary btn-lg" type="submit">Login</button>
                   </div>
              </div>
          </form>

      </div>
    </div>
  </div>
</div>
</div>
</div>
