.login_page{
    max-width: 100%;
    width:100%;
    height:1000px;
    max-height: 100%;
    
}
.form-group{
    margin-bottom: 20px;
}

.form-group label{
    font-weight: bold;
}

.login_container {
    width: 400px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 300px;
    background: #fff;
    padding: 40px;
}