<!--<div class="panel-header panel-header-sm">
</div>-->
<div class="main-content business_register">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Business Register</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12 pr-3">
                <div class="form-group">
                  <label>Business Name</label>
                  <input type="text" class="form-control" placeholder="Business Name" formControlName="business_name" [ngClass]="{ 'is-invalid': submitted && f.user_id.errors }">
                  <div *ngIf="submitted && f.business_name.errors" class="invalid-feedback">
                    <div *ngIf="f.business_name.errors.required">Business Name is required</div>
                  </div>
                </div>
              </div>
            </div>            
            <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>                  
                  </div>
                </div>
                <div class="col-md-6 pr-3">
                    <div class="form-group">
                      <label>Mobile</label>
                      <input type="text" class="form-control" placeholder="Mobile No" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" >
                      <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors.required">Mobile No is required</div>
                      </div>                  
                    </div>
                  </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="clsAddress">
                      <label>Business Address</label>
                      <input type="text" class="form-control" placeholder="" formControlName="address_1_1"><span class="clsLineBr"></span>
                      <input type="text" class="form-control" placeholder="" formControlName="address_1_2"><span class="clsLineBr"></span>
                      <input type="text" class="form-control" placeholder="" formControlName="address_1_3">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>PAN</label>
                    <input type="text" class="form-control" placeholder="PAN" formControlName="pan" [ngClass]="{ 'is-invalid': submitted && f.pan.errors }">
                    <div *ngIf="submitted && f.pan.errors" class="invalid-feedback">
                      <div *ngIf="f.pan.errors.required">PAN is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pr-3">
                    <div class="form-group">
                      <label>GST</label>
                      <input type="text" class="form-control" placeholder="GST" formControlName="gst" >
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>CIN</label>
                    <input type="text" class="form-control" placeholder="CIN" formControlName="cin">
                  </div>
                </div>
                <div class="col-md-6 pr-3">
                    <div class="form-group">
                      <label>TAN</label>
                      <input type="text" class="form-control" placeholder="TAN" formControlName="tan">
                    </div>
                </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                 <div class="row">
                   <div class="col-md-3 pr-1">
                      <label class="clsPhotoLbl">Add Logo</label>
                   </div>
                   <div class="col-md-6 pr-1">
                      <input style="display: none" name="businessAvatar" type="file" accept="image/x-png,image/gif,image/jpeg"  (change)="onFileChanged($event)" #fileInput>
                     
                      <div class="clsUsrPhotoImg">
                          <img (click)="fileInput.click()" src="{{logoPath}}" width="100" height="100"/>
                          <br/>
                          <label style="font-weight: bold;margin-top:5px;">{{uploadedFile}}</label>
                      </div>
                   </div>
                 </div>
                </div>
              </div>
            </div>
            <button class="btn btn-fill btn-info" type="submit">Submit</button>            
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
