body{
    width: 100%;
    overflow-x: hidden;

    .bgwhite{
        background:#fff;
    }
}

.card label {

    font-size: 1em;
    margin-bottom: 5px;
    color: #232323;

}

.form-control{
    height:38px;
}


.main-content[ng-view]{
    background-image:url('../../assets/img/header.jpg');
    

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .card{
        .card-header{
            padding:15px 15px 15px !important;
            background:#ffb236 !important;
            color:#fff;
            h5{
                margin-bottom: 0px;                
            }
            h4{
                margin:0px !important;
            }
            h5.title{
                text-transform: uppercase;
            }
        }
    }
}

.sidebar[data-color="grey"] .nav li.active > a,
 .off-canvas-sidebar[data-color="grey"] .nav li.active > a{
    color:#000;
}

.sidebar[data-color="grey"] .nav li.active > a i,
.sidebar[data-color="grey"] .nav li.active-pro > a i,
.off-canvas-sidebar .nav li.active > a i,
.off-canvas-sidebar .nav li.active-pro > a i{
    color:#000;
}

/* User Register*/
.user_register,.business_register{
    max-width: 100%;
    /*background: #232323 !important;*/
    background-image: url('../../assets/img/header.jpg');
    height: 100%;
    .card{
        display: table;
        margin: 3% auto;
        max-width: 70%;
        width: 70%;
        background: #fff !important;
        box-shadow: 0px -1px 12px #000;
    }
    .clsLineBr{
        float: left;
        width:100%;
        height:8px;
    }

    form{
        .row{
            margin-bottom: 2%;
        }
    }
    .clsPhotoLbl{
        vertical-align: middle;
        line-height: 100px;
        display: inline-block;
    }

    .clsUsrPhotoImg
    {
        img{
            cursor: pointer;
            border: 1px solid #ccc;
            box-shadow: 0px -1px 12px #ccc;
        }
    }

    .card-header{
        background-color: #fa7a50 !important;
        padding: 15px 15px 1px;
        h5{
            color:#fff;
        }
    }

    .clsOTPDiver{
        border-bottom: 1px solid #ccc;
        box-shadow: 1px 1px 4px #ccc;
        margin: 20px 0px;
    }

    .VerifyOtp{
        text-align: center;
        margin-top: 5% !important;
        .mobileNumber{
            font-size: 43px;
            margin-bottom: 10px;
            text-shadow: -3px 2px 5px #232323;
        }
        .otpcontainer{
            /*max-width: 35%;
            margin: 0 auto;
            text-align: center;*/
            div{
                margin-top:5px;
                /*width: auto;
                margin-left: 20px;
                float: left;*/
                line-height: 34px;
                button{
                    margin:0px;
                }
            }            
        }
    }

    .otpTitle{
        position: absolute;
        right: 0;
        margin: 0 auto;
        left: 0;
        width: 200px;
        float: left;
        text-align: center;
        padding: 10px;
        background: #232323;
        color: #fff;
        box-shadow: 2px 2px 9px 2px #232323;
    }

   
}

.loader-img{
    position: fixed;
    text-align: center;
    // width: 100px;
    // height: auto;
    top: 0;
    bottom: 0%;
    right: 0%;
    left: 0;
    margin: 0 auto;
     background: rgba(255, 255, 255, 0.466);
    z-index: 9999;
}

@media only screen and (max-width: 1000px) {
    .user_register,.business_register{
        .card{
            display: table;
            margin: 3% auto;
            max-width: 95%;
            width: 95%;
            background: #fff !important;
            box-shadow: 0px -1px 12px #000;
        }
    }
}

@media only screen and (max-width: 768px) {
    .pl-1,.pr-1, .px-1{
        padding-right:15px !important;
        padding-left:15px !important;
    }

    .user_register,.business_register{
        .clsPhotoLbl{
            display: inline-block;
            width:100%;
            text-align: center;
        }
        .clsUsrPhotoImg{
            width:100%;
            display: inline-block;
            text-align: center;
        }
    }
    
}