<div class="input-group" [formGroup]="parentForm" *ngIf="inpFormControl">
  <select #expCatselect [formControlName]="inpFormControl" class="form-control">
    <option [value]=0>Select Category List</option>
    <option *ngFor="let c of expCatList" [value]="c.category_id">{{c.category_name}} </option>
  </select>
  <div  class="input-group-append">
    <button class="btn btn-icon btn-primary" (click)="newExpCatPopup();">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>