.prod_detail .product_info {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
    list-style: none;
    margin-bottom: 5%;
}
.prod_detail .product_info li.detail_title {
    background: #444444;
    color: #ffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 44%;
}
.prod_detail .product_info li {
    width: 50%;
    padding: 9px;
    float: left;
    margin-bottom: 3px;
    background: #EEEBE6;
}
.modal-header .close{
    position: absolute;  
      right: 10px;
      color: #000;
      opacity: 0.8;
  }