<!-- View details -->

<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" (click)="bsModalRef.hide()">
    <i class="fa fa-times-circle"></i>
  </button>
  <h4 style="margin-top: 0px;" class="modal-title" id="myModalLabel">View Details</h4>
</div>

<div class="modal-body">

  <div class="text-right">
    <p style="font-size:14px;padding-right:5px;"><b>Current Date/Time :</b>{{now| date:'M/d/y, h:mm a'}}</p>
  </div>
  <div class="text-center">
    <h2 style="font-size:28px; margin-bottom:13px;">{{register.STORE_KEY}}</h2>
  </div>
  <div class="text-center">
    <p style="font-size:14px;"><b>Opened Date/Time :</b> {{register.created_date | date:'M/d/y, h:mm a'}}</p>
  </div>
  <div class="prod_detail" style="margin-left:25px;">
    <ul class="product_info" *ngIf="register">

      <li class="detail_title">Starting Cash</li>

      <li>{{register.starting_cash }}</li>

      <li class="detail_title">Pledge</li>

      <li>{{register.total_pledge }} </li>

      <li class="detail_title">Expense</li>

      <li>{{register.total_expense }} </li>

      <li class="detail_title">Interest</li>

      <li>{{register.total_interest }} </li>

     

      

      <li class="detail_title">Total Cash out-hand</li>

      <li>
        {{register.cash_out }}
      </li>

      

      <li class="detail_title"><strong>Total Cash in-hand</strong></li>

      <li><strong>{{register.cash_in }}</strong></li>


    </ul>

  </div>
</div>



<!-- end view pos -->