<div class="panel-header panel-header-sm">
</div>
<div class="main-content pledge_page">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Redumption</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                 <div class="text-left">
                    <h6 class="text-primary">ACTIVE / REDEEMED / RE PLEDGE</h6>
                 </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6 pr-1">
                  <div class="form-group">
                    <label>Bill No</label>
                    <div class="row">
                      <div class="col-sm-12 col-md-2">
                        <input type="text" id="bill_no_1" class="form-control" value="">
                      </div>
                      <div class="col-sm-12 col-md-8">
                        <input type="text" id="bill_no_2" class="form-control" value="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 text-center pledge_photo">
                    <div class="col-sm-12 col-md-6 float-left">
                        <label>User Photo</label>
                    </div>
                    <div class="col-sm-12 col-md-6 float-right">
                      <img src="../../assets/img/add-user.png" width="100" height="100"/>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 pr-1">
                    <div class="form-group">
                      <label>Redumption No</label>
                      <div class="row">
                        <div class="col-sm-12 col-md-5">
                          <input type="text" class="form-control" value="">
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 pr-1 text-center pledge_photo">
                    <div class="col-sm-12 col-md-6 float-left">
                        <label>Item Photos</label>
                    </div>
                    <div class="col-sm-12 col-md-6 float-right">
                      <img src="../../assets/img/add-prod.jpg" width="100" height="100"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive clsDocumentList" style="padding:0 10px;">
                  <table class="table">
                      <thead class="text-primary">
                          <tr>
                            <th style="width:5%;">#</th>
                            <th style="width:30%;">Document Name</th>
                            <th style="width:15%;"></th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr>
                              <td>1</td>
                              <td>Proof of Receipt</td>
                              <td><a href="#">View</a></td>
                          </tr>                          
                          <tr>
                              <td>2</td>
                              <td>Document Receipt</td>
                              <td><a href="#">View</a></td>
                          </tr>
                       </tbody>
                  </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 pr-1">
                    <div class="form-group">
                      <label>Price</label>
                      <div class="row">
                        <div class="col-sm-12 col-md-7">
                          <input type="text" class="form-control" disabled value="1500" style="font-weight: bold;font-size:15px;">
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label>Service Charge</label>
                      <div class="row">
                        <div class="col-sm-12 col-md-7">
                          <input type="text" class="form-control" value="" style="font-weight: bold;font-size:15px;">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                      <div class="redump_total">
                          <label>Total</label>
                          <div class="row">
                            <div class="col-sm-12 col-md-9">
                              <input type="text" class="form-control" value="56000">
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 pr-1">
                    <div class="form-group">
                      <div class="amt_receive_total">
                          <label>Amount Received</label>
                          <div class="row">
                            <div class="col-sm-12 col-md-9">
                              <input type="text" class="form-control" value="40000" style="font-size:20px;text-align:center;">
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 pr-1">
                    <div class="form-group text-center">
                        <button class="btn btn-fill btn-lg btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
