.pledge_page{
    input[type="text"],input[type="date"]{
        border-radius: 0px;
    }
    .row{
        margin-bottom:2%;
    }
    .clsStreet{
        input[type="text"]{
            margin-bottom: 1%;
        }
    }

    .clsPledgedItm{
        tfoot{
            td{
                font-size:18px;
                font-weight: 700;
            }
        }
    }

    .pledge_photo{
        img{
            border:1px solid #EEE;
            -webkit-box-shadow: inset 2px -4px 15px -3px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 2px -4px 15px -3px rgba(0,0,0,0.75);
            box-shadow: inset 2px -4px 15px -3px rgba(0,0,0,0.75);
        }
    }
}

.redump_total,.amt_receive_total{
    margin:0 auto;max-width:50%;
    label{
        font-size:20px;
    }
    input[type="text"]{
        font-weight: bold;font-size:15px;
    }
}

.clsDocumentList{
    thead{
        th{
            background:#ddd;
            font-weight: bold;
            font-size:15px;
        }
    }
}


@media only screen and (max-width: 600px) {
    .redump_total,.amt_receive_total{
        max-width: 70%;
    }
}