
<div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="{{bus_photo}}"/>
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
       {{businessName}}
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a  (click)="navigation(menuItem.path)">
                <i class="fa {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
