.cash_account{
    padding:0px;
    width:100%;
    display:inline-block;
    list-style: none;
    li{
        width:45%;
        float: left;
        /*margin-right:10px;*/
        border-bottom:1px solid #eee;
        line-height: 40px;
        text-align: right;
    }
    li:nth-child(odd){
        width:50%;
        border-bottom:1px solid #eee;
        text-align: left;
    }
    li:nth-child(even){
       padding-right:20px;
       font-weight: bold;
       font-size:17px;
    }
}

.clsPledgeList{
    h5{
        border-bottom: 1px solid #eee;
        label{
            width:50%;
        }
        label:nth-child(even){
            text-align: right;
        }
    }
    height:330px;
    overflow-x:hidden;
}

.dashboard_bill{
    .search_control{
        position: relative;
        display:inline-block;
        width:100%;
        margin-bottom: 4%;
        .search_icon{
            position: absolute;
            right: 0px;
            background: #f96332;
            color: #fff;
            padding: 7px 11px;
            top: 0px;
            border-top-right-radius: 21px;
            border-bottom-right-radius: 21px;
            line-height: 20px;
            font-size: 20px;
            i{
                cursor: pointer;
            }
        }
    }
}