<div class="panel-header panel-header-sm">

</div>
<div *ngIf="showLoading" class="loader-img">
  <img src="../../../assets/img/loader_spinner.gif" style="padding-top: 10%;"/>
</div>
<div class="main-content">
    <div class="container-fluid content-row">
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-md-6 col-sm-12">
              <div class="card  h-100">
                <div class="card-header ">
                  <h4 class="card-title">Today Rates</h4>
                </div>
                <div class="card-body ">
                  <div class="row">
                    <div class="col-sm-12 col-md-12" style="margin-bottom: 3%;">
                      <label>Gold Rate</label>
                      <div>
                        <input type="text" class="form-control" [(ngModel)]="todayGoldrate" style="font-size:20px;" />
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                      <label>Silver Rate</label>
                      <div>
                        <input type="text" class="form-control" [(ngModel)]="todaySilverrate" style="font-size:20px;" />
                      </div>
                    </div>
                    <!-- <div class="col-sm-12 col-md-12">
                      <label>Cash In Hand</label>
                      <div>
                        <input type="text" class="form-control" [(ngModel)]="todayCashInHand" style="font-size:20px;" />
                      </div>
                    </div> -->
        
                  </div>
                </div>
                <div class="card-footer ">
                  <hr>
                  <div class="col-sm-12 col-md-12">
                    <button class="btn btn-primary btn-lg" style="width:100%;" [disabled]="close_status" (click)="setRate();">SET RATE</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="card h-100">
                <div class="card-header">
                  <h4 class="card-title">Total Pledges</h4>
                </div>
                <div class="card-body ">
                  <h5>
                    <label class="">Today</label>
                    <label>100</label>
                  </h5>
                  <h5>
                    <label class="">This Week</label>
                    <label>4000</label>
                  </h5>
                  <h5>
                    <label class="">This Month</label>
                    <label>10000</label>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        
        
          <div class="row" style="padding-bottom: 30px;">
            <div class="col-md-6 col-sm-12">
              <div class="card  h-100">
                <div class="card-header ">
                  <h4 class="card-title">{{todayDate}}</h4>
                </div>
                <div class="card-body ">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="row">
                        <div class="col-sm-12 col-md-3" style="margin-top:20px;">
                          Day Start :
                        </div>
                        <div class="col-sm-12 col-md-5">
                          <input type="text" style="margin-top:10px;"  class="form-control"
                            [(ngModel)]="todayCashInHand" value="" />
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <button class="btn btn-primary btn-md"  style="width:100%;" [disabled]="cih_status"
                            (click)="cashregister();">START</button><br />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="row">
                        <div class="col-sm-12 col-md-3" style="margin-top:20px;">
                          Day End :
                        </div>
                        <div class="col-sm-12 col-md-5">
                          <input type="text" style="margin-top:10px;" class="form-control" [(ngModel)]="close_balance"
                            value="" />
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <button class="btn btn-primary btn-md" style="width:100%;" [disabled]="!cih_status" (click)="closingregister();">END</button><br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="card  h-100">
                <div class="card-body dashboard_bill">
                  <h5 style="text-align: center;font-size: 30px;">Search Bill No</h5>
                  <div class="search_control">
                    <input type="text" class="form-control" [(ngModel)]="bill"
                      placeholder="Search by Bill #, Customer Email or Mobile" value="" />
                    <span class="search_icon" (click)="SearchPledge();"><i class="now-ui-icons ui-1_zoom-bold"></i></span>
                  </div>
                  <button class="btn btn-primary btn-lg" style="width:100%;" (click)="pledgePage();" [disabled]="close_status">New Bill</button><br />
                  <button class="btn btn-warning btn-lg" style="width:100%;" [disabled]="close_status">Redeem</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  
</div>