<div class="panel-header panel-header-sm">
</div>
<div *ngIf="showLoading" class="loader-img">
  <img src="../../assets/img/loader.gif" />
</div>
<div class="main-content pledge_page">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Reports</h5>
        </div>
        <div class="card-body">
          <!-- [formGroup]="frmpledge" (ngSubmit)="onSubmit()" -->
          <form>

            <div class="row">
              <div class="col-sm-12 col-md-2 text-center">
                <select class="form-control" name="reportType" #name="ngModel" [(ngModel)]="reportType">
                  <option [value]=1>select All</option>
                  <option [value]=2>Pledges</option>
                  <option [value]=3>Expense</option>
                  <option [value]=4>Redemptions</option>
                  <option [value]=5>Cash Register</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-3 text-center">
                <input type="text" placeholder="From Date" class="form-control" bsDatepicker name="startdate"
                  #name="ngModel" (bsValueChange)="changeExpstart($event)" [(ngModel)]="startdate" />
              </div>
              <div class="col-sm-12 col-md-3 text-center">
                <input type="text" placeholder="End Date" class="form-control" bsDatepicker
                  (bsValueChange)="changeExpend($event)" name="enddate" #name="ngModel" [(ngModel)]="enddate" />
              </div>
              <div class="col-sm-12 col-md-3 text-center">
                <input type="text" placeholder="Serach customer" class="form-control" name="customer" #name="ngModel"
                  [(ngModel)]="customer">
              </div>
              <div class="col-sm-12 col-md-1 text-center">
                <button class="btn btn-primary" (click)="searchFilter()"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
              </div>

            </div>

          </form>



        </div>
        <div class="card-body" *ngIf="MainPledge.length">
          <div class="row">
            <div class="table-responsive clsPledgedItm" style="padding:0 10px;">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th style="width:15%;">pledge_date</th>
                    <th style="width:20%;">pledge_bill_no</th>
                    <th class="text-center">pledge_status</th>
                    <th class="text-center">total_amount_paid</th>

                    <th>Actions</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pledgeItms of MainPledge; let i = index">

                    <td class="text-center">{{pledgeItms.pledge_date}}</td>
                    <td class="text-center">{{pledgeItms.pledge_bill_no}}</td>
                    <td class="text-center">{{pledgeItms.pledge_status | pledge}}</td>
                    <td class="text-center">{{pledgeItms.total_amount_paid}}</td>
                    <td><button (click)="viewPledge(pledgeItms)" class="btn btn-primary"><i class="fa fa-eye"
                          aria-hidden="true"></i></button></td>

                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="MainExpense.length">
          <div class="row">
            <div class="table-responsive clsPledgedItm" style="padding:0 10px;">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th style="width:15%;">expense_date</th>
                    <th style="width:20%;">expense_category</th>
                    <th class="text-center">expense_amount</th>
                    <th class="text-center">expense_note</th>

                    <th></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pledgeItms of MainExpense; let i = index">

                    <td class="text-center">{{pledgeItms.expense_date}}</td>
                    <td class="text-center">{{pledgeItms.expense_category}}</td>
                    <td class="text-center">{{pledgeItms.expense_amount}}</td>
                    <td class="text-center">{{pledgeItms.expense_note}}</td>


                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="MainRedemptions.length">
          <div class="row">
            <div class="table-responsive clsPledgedItm" style="padding:0 10px;">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th class="text-center">transaction_date</th>
                    <th class="text-center">pledge_id</th>
                    <th class="text-center">transaction_type</th>
                    <th class="text-center">amount_received</th>

                    <th></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pledgeItms of MainRedemptions; let i = index">

                    <td class="text-center">{{pledgeItms.transaction_date}}</td>
                    <td class="text-center">{{pledgeItms.pledge_id}}</td>
                    <td class="text-center">{{pledgeItms.transaction_type | transaction}}</td>
                    <td class="text-center">{{pledgeItms.amount_received}}</td>


                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>

        <div class="card-body" *ngIf="MainCashInHand.length">
          <div class="row">
            <div class="table-responsive clsPledgedItm" style="padding:0 10px;">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th class="text-center">CashRegister_date</th>
                    <th class="text-center">Statring Cash</th>
                    <th class="text-center">Cash In</th>
                    <th class="text-center">Actions</th>

                    <th></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cash of MainCashInHand; let i = index">

                    <td class="text-center">{{cash.created_date}}</td>
                    <td class="text-center">{{cash.starting_cash}}</td>
                    <td class="text-center">{{cash.cash_in}}</td>
                    <button class="btn btn-primary" (click)="viewRegister(cash)"> view</button>
                    <!-- <td class="text-center">{{pledgeItms.amount_received}}</td> -->


                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>