.dashboard_bill{
    .search_control{
        position: relative;
        display:inline-block;
        width:100%;
        margin-bottom: 4%;
        .search_icon{
            position: absolute;
            right: 0px;
            background: #f96332;
            color: #fff;
            padding: 7px 11px;
            top: 0px;
            border-top-right-radius: 21px;
            border-bottom-right-radius: 21px;
            line-height: 20px;
            font-size: 20px;
            i{
                cursor: pointer;
            }
        }
    }
  

   
}
.pledge_page{
    input[type="text"],input[type="date"]{
        border-radius: 0px;
    }
    .row{
        margin-bottom:2%;
    }
    .clsStreet{
        input[type="text"]{
            margin-bottom: 1%;
        }
    }

    .clsPledgedItm{
        thead{
            th{
                font-weight: bold;
                font-size:15px;
            }
        }
        tfoot{
            td{
                font-size:18px;
                font-weight: 700;
            }
        }
    }

    .pledge_photo{
        img{
            border:1px solid #EEE;
            -webkit-box-shadow: inset 2px -4px 15px -3px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 2px -4px 15px -3px rgba(0,0,0,0.75);
            box-shadow: inset 2px -4px 15px -3px rgba(0,0,0,0.75);
        }
    }

    .item_img_holder{
        img{
            cursor: pointer;
        }
    }

    .clsPledgedAmt{
        max-width:60%;
        margin:0 auto;
    }

    .clsPledgeUserSearch{
        width:100%;
        
        .form-control{
            float: left;
            width:80%;
            font-size:17px;
        }
        #searchBt{
            float: left;
            width: 20%;
            text-align: center;
            background: #000;
            font-size: 25px;
            color: #fff;
            cursor: pointer;
        }
    }

    .clsUsrPhotoImg{
        img{
            cursor: pointer;
        }
    }
}
@media only screen and (max-width: 768px) {
    .clsPledgeBt{
        .form-group{
            float: none !important;
            text-align: center;
        }
    }
}
