<div class="panel-header panel-header-sm">
</div>
<div class="main-content user_register">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">User Register</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" *ngIf="ShowUsrForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <div *ngIf="showError" class="clsErrorMsg">{{errorMsg}}</div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>User ID</label>
                      <input type="text" class="form-control" placeholder="User Id" formControlName="user_id" [ngClass]="{ 'is-invalid': submitted && f.user_id.errors }" />
                      <div *ngIf="submitted && f.user_id.errors" class="invalid-feedback">
                        <div *ngIf="f.user_id.errors.required">User ID is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" formControlName="pass_word" [ngClass]="{ 'is-invalid': submitted && f.pass_word.errors }" >
                      <div *ngIf="submitted && f.pass_word.errors" class="invalid-feedback">
                        <div *ngIf="f.pass_word.errors.required">Password is required</div>
                      </div>
                    </div>
                  </div>
                </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" >
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Phone No</label>
                  <input type="text" class="form-control" placeholder="Phone" formControlName="phone_no">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Mobile No</label>
                  <input type="text" class="form-control" placeholder="Mobile" value="" formControlName="mobile_no" [ngClass]="{ 'is-invalid': submitted && f.mobile_no.errors }">
                  <div *ngIf="submitted && f.mobile_no.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile_no.errors.required">Mobile Number is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 pr-3">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="clsAddress">
                      <label>Address 1</label>
                      <input type="text" class="form-control" placeholder="" formControlName="address_1_1" ><span class="clsLineBr"></span>
                      <input type="text" class="form-control" placeholder="" formControlName="address_1_2" ><span class="clsLineBr"></span>
                      <input type="text" class="form-control" placeholder="" formControlName="address_1_3" >
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                    <div class="clsAddress">
                        <label>Address 2</label>
                        <input type="text" class="form-control" placeholder="" formControlName="address_2_1" ><span class="clsLineBr"></span>
                        <input type="text" class="form-control" placeholder="" formControlName="address_2_2" ><span class="clsLineBr"></span>
                        <input type="text" class="form-control" placeholder="" formControlName="address_2_3" >
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                    <div class="clsAddress">
                        <label>Address 3</label>
                        <input type="text" class="form-control" placeholder="" formControlName="address_3_1" ><span class="clsLineBr"></span>
                        <input type="text" class="form-control" placeholder="" formControlName="address_3_2" ><span class="clsLineBr"></span>
                        <input type="text" class="form-control" placeholder="" formControlName="address_3_3" >
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Area</label>
                    <input type="text" class="form-control" placeholder="Area"  formControlName="area" >
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Pin Code</label>
                    <input type="text" class="form-control" placeholder="Pin Code" formControlName="pincode" >
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                 <div class="row">
                   <div class="col-md-3 pr-1">
                      <label class="clsPhotoLbl">Add Photo</label>
                   </div>
                   <div class="col-md-6 pr-1">
                      <input style="display: none" name="userAvatar" type="file" accept="image/x-png,image/gif,image/jpeg"  (change)="onFileChanged($event)" #fileInput>
                     
                      <div class="clsUsrPhotoImg">
                          <img (click)="fileInput.click()" src="{{avatarPath}}" width="100" height="100"/>
                          <br/>
                          <label style="font-weight: bold;margin-top:5px;">{{uploadedFile}}</label>
                      </div>
                   </div>
                 </div>
                </div>
              </div>
            </div>
            <button class="btn btn-fill btn-primary btn-lg" type="submit">Submit</button>
            
          </form>
          <form *ngIf="ShowOTPForm">
              <div class="row">
                  <div class="col-md-12">
                    <div class="otpTitle">OTP Verification</div>
                    <div class="clsOTPDiver"></div>
                    <div class="VerifyOtp">
                      <label class="mobileNumber">9435654364</label><br/>
                      <div class="col-md-12">
                          <div class="otpcontainer">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-3">OTP:</div>
                                <div class="col-sm-12 col-md-12 col-lg-6"><input type="text" class="form-control" value=""/></div>
                                <div class="col-sm-12 col-md-12 col-lg-3"><button class="btn btn-round btn-secondary" type="submit">Verify</button></div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button style="float:right;font-size:20px;" class="btn btn-fill btn-info" type="submit">Proceed</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
