.business_list{
    max-width: 100%;
    /*background: #232323 !important;*/
    background-image: url('../../../assets/img/header.jpg');
    height: 100%;
    .card{
        display: table;
        margin: 3% auto;
        max-width: 70%;
        width: 70%;
        background: #fff !important;
        box-shadow: 0px -1px 12px #000;
    }
    .clsLineBr{
        float: left;
        width:100%;
        height:8px;
    }

    form{
        .row{
            margin-bottom: 2%;
        }
    }
    

    .card-header{
        background-color:#ffb236 !important;
        padding: 15px 15px 1px;
        h5{
            color:#fff;
        }
    }


    .clsBussinessList{
        padding:20px;
        h3{
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }
        ul{
            list-style: none;
            display:inline-block;
            width:100%;
            padding:0px;
            li{
                float:left;
            }
        }
        .clsBussiness{
            margin:10px 0px;
            border: 1px solid #ccc;
            box-shadow: 3px -6px 11px -4px #ccc;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            .busTitle{
                display: inline-block;
                width: 100%;
                text-align: center;
                background: #ddd;
                padding: 5px;
                color: #000;
                font-weight: bold;
            }
            img{
                // border-radius: 10px;
                height:250px;
                width:auto;
            }
            .busTitle{
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }

        .clsBussiness:hover{
            opacity:0.8;
        }
        
    }   

    .clsCreateBussiness{
        margin:20px 0;
        padding:20px;
        width:100%;
        float: left;
        h3{
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }
        .createBusDiv{
            margin:20px 0;
            width:100%;
            opacity: 1;
            cursor: pointer;
            .create{
                /*max-width: 40%;*/
                padding:0px !important;
                margin: 0 auto;
                text-align: center;
                box-shadow:3px -6px 11px -4px #ccc;
                border:2px solid #ccc;
                border-radius: 11px;
                img{
                    width:100%; 
                }
                span{
                    width:100%;
                    padding:5px;
                    text-align: center;
                    background: #ddd;
                    color:#000;
                    display:inline-block;
                    font-size:19px;
                    font-weight: bold;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }

        .create:hover{
            opacity: 0.9;
        }
    }
}

@media only screen and (max-width: 768px) {
    .clsBussiness{
        img{
            width: 100%;
        }
    }

    .clsBussinessList{
        ul{
            max-width:320px;
            width:320px;
            margin:0 auto;
            text-align: center;
            display: inline !important;
            li{
                width:50%;
            }
        }
    }

    .createBusDiv{
        .create{
            max-width:60% !important;
            width:60%;
        }
    }
}

@media only screen and (max-width: 550px) {
    .clsBussiness{
        img{
            width: 100%;
        }
    }

    .clsBussinessList{
        ul{
            max-width:320px;
            width:320px;
            margin:0 auto;
            text-align: center;
            display: inline !important;
            li{
                width:100%;
            }
        }
    }
}
