<!--<div class="panel-header panel-header-sm">
</div>-->
<!-- showLoading -->
<div *ngIf="showLoading" class="loader-img">
  <img src="../../../assets/img/spinner1.gif" style="padding-top: 10%;"/>
 
</div>
<div class="main-content business_list">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary float-right" style="margin: 0px;" (click)="logout()">Logout</button>
          <h5 class="title">Business List</h5>
         
        </div>
        <div class="card-body">
           <div class="clsBussinessList">
             <h3>Your Business</h3>
             <ul class="row">
               <li class="col-sm-12 col-md-4" *ngFor="let business of userBusinessList ; let i = index">
                <div class="card">
                  <div class="card-header">
                    <button type="button" class="btn btn-link float-right"  (click)="deleteBusiness(business)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                  </div>
                  <div class="card-body">
                    <!-- <div class="clsBussiness" (click)="GoToDashboard(business);"> -->
                  
                      <img src="{{serverUrl}}upload/image/business/{{business.Photo}}"/>
                      <span class="busTitle">
                         {{business.business_name}}
                      </span>
                   <!-- </div> -->
                  </div>
                </div>
               
               </li>               
             </ul>
           </div>

           <div class="clsCreateBussiness">
              <h3>You can add new Business</h3>
              <div class="createBusDiv">
               
                    <div class="create col-md-3" >
                      <a routerLink="/business/{{user_id}}">
                        <img src="../../../assets/img/company_logo.png"/>
                        <span>Add Business</span>
                      </a>
                    </div>
                
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
